*.user
Debug
Release
Data
*.suo
bin
*.dbmdl
/eSkeleton/eSkeleton.App/GeneratedArtifacts
/eSkeleton/eSkeleton.App/ModelManifest.xml
*.lsgen
/eSkeleton/eSkeleton.Server/GeneratedArtifacts
/eSkeleton/eSkeleton.Server/obj
/eSkeleton/eSkeleton.App/ModelManifest.xml
/eSkeleton/eSkeleton.Server/ModelManifest.xml
/eSkeleton/_Pvt_Extensions/Microsoft.LightSwitch.Extensions/LsPkgLastWriteTime.txt
!*.exe
/packages
/eSkeleton.Ria.Service/obj
*.map
